@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
// @import './components';
// @import './views';

body {
  background-color: rgb(83, 109, 255);
}

#app {
  margin: auto;
  display: flex; 
  justify-content: center;
  flex-flow: column wrap;
  margin-top: 50px;
  width: 90%;
}

.title {
  display: flex;
  align-self: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 2rem;
}

.btn {
  margin: 1rem;
}

.navbar-nav {
  align-items: center;
}

.hide {
  display: none;
}